@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Oswald&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto+Condensed:wght@100;200;300;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

header {
    display: flex;
    justify-content: center;
}

#img_dados {
    margin-top: 80px;
    height: 200px;
}

p {
    margin-top: 80px;
    margin-bottom: 10px;
    font-family: Roboto;
    font-size: 18px;
    color: white;
    display: flex;
    justify-content: center;
}


.box {
    width: 100vw;
}

.box_input {
    display: flex;
    justify-content: center;
}

#separation {
    margin: 20px;
}

input[type="number"] {
    height: 50px;
    color: #ffff;
    width: 250px;
    padding: 13px 23px;
    display: flex;
    align-items: center;
    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.534);
    font-family: Roboto;
    font-size: 30px;
    font-weight: 500;
}
input::-webkit-input-placeholder{
    color:rgb(250, 246, 250);
    font-family: Roboto;
}
.Bhutan_Box {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

button {

    display: flex;
    justify-content: center;
    width: 250px;
    height: 55px;
    padding: 0px 76px;
    align-items: center;
    border-radius: 10px;
    background: #AEC346;
    box-shadow: 0px 18px 40px 0px rgba(174, 195, 70, 0.35);
    transition: 3s ease;
    cursor: pointer;
    display: flex;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 700;
    line-height: 2.5px;

}

button:hover {
    transition: 3s ease;
    border: none;
}

@media (max-width: 600px) {

    #separation {
        margin: 10px;
    }

    input[type="number"] {
        height: 40px;
        color: #ffff;
        width: 180px;
    }

    button {
        width: 200px;
        height: 50px;  
        font-size: 26px;
        border: none;
    
    }
  }